body{
	
}

.gallery{
	width: 80%;
	margin: 10em auto;
	display: flex;
	height: 20em;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.gallery>div{
	border-left:thin #ccc solid;
	box-shadow: inset -28px 0px 43px -4px rgba(0,0,0,0.59);
	flex: 1 0 1em;
	transition: all ease 1s;

}

.gallery>div.open{
	
	flex: 0 0 40em;
}

.gallery>div:nth-child(1){
	background-image: url('1.jpg');
}
.gallery>div:nth-child(2){
	background-image: url('2.jpg');
}
.gallery>div:nth-child(3){
	background-image: url('3.jpg');
}
.gallery>div:nth-child(4){
	background-image: url('4.jpg');
}
.gallery>div:nth-child(5){
	background-image: url('5.jpg');
}

